<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pg.generate.dao.ProjectsMapper">

    <resultMap type="com.pg.generate.entity.Projects" id="ProjectsMap">
        <result property="projectId" column="project_id" />
        <result property="projectName" column="project_name" />
        <result property="flag" column="flag" />
        <result property="description" column="description" />
        <result property="projectPath" column="project_path" />
        <result property="javaPath" column="java_path" />
        <result property="packagePath" column="package_path" />
        <result property="packagePathT" column="package_path_t" />
        <result property="mapperPath" column="mapper_path" />
        <result property="databaseName" column="database_name" />
        <result property="createTime" column="create_time" />
        <result property="modifyTime" column="modify_time" />
    </resultMap>

    <select id="queryPage" resultMap="ProjectsMap">
        SELECT * FROM tb_projects
    </select>

    <select id="queryAll" resultMap="ProjectsMap">
        SELECT * FROM tb_projects
    </select>

    <select id="queryOne" resultMap="ProjectsMap">
        select * from tb_projects where project_id = #{projectId}
    </select>

    <insert id="insert">
        insert into tb_projects( project_id,project_name,flag,description,project_path,java_path,package_path,package_path_t,mapper_path,database_name,create_time,modify_time )
        values ( #{projectId},#{projectName},#{flag},#{description},#{projectPath},#{javaPath},#{packagePath},#{packagePathT},#{mapperPath},#{databaseName},#{createTime},#{modifyTime} )
    </insert>

    <update id="update">
        update tb_projects
        <set>
            <if test="projectId != null and projectId != ''">
                project_id = #{projectId},
            </if>
            <if test="projectName != null and projectName != ''">
                project_name = #{projectName},
            </if>
            <if test="flag != null and flag != ''">
                flag = #{flag},
            </if>
            <if test="description != null and description != ''">
                description = #{description},
            </if>
            <if test="projectPath != null and projectPath != ''">
                project_path = #{projectPath},
            </if>
            <if test="javaPath != null and javaPath != ''">
                java_path = #{javaPath},
            </if>
            <if test="packagePath != null and packagePath != ''">
                package_path = #{packagePath},
            </if>
            <if test="packagePathT != null and packagePathT != ''">
                package_path_t = #{packagePathT},
            </if>
            <if test="mapperPath != null and mapperPath != ''">
                mapper_path = #{mapperPath},
            </if>
            <if test="databaseName != null and databaseName != ''">
                database_name = #{databaseName},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="modifyTime != null">
                modify_time = #{modifyTime},
            </if>
        </set>
        where project_id = #{projectId}
    </update>

    <delete id="delete">
        DELETE FROM tb_projects WHERE project_id = #{projectId}
    </delete>

</mapper>