<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pg.generate.dao.TablesSchemaMapper">

    <select id="queryTableColumnAll" resultType="com.pg.generate.entity.TablesSchema">
        SELECT
            column_name,
            data_type,
            character_maximum_length,
            collation_name,
            column_comment,
            column_key
        FROM
            information_schema. COLUMNS
        WHERE
            table_schema = #{tableSchema}
        AND table_name = #{tableName}
    </select>

</mapper>