package ${packageName}.dao;

import com.github.pagehelper.Page;
import ${packageName}.entity.${ClassName};

import java.util.List;

public interface ${ClassName}Mapper {

    Page<${ClassName}> queryPage(${ClassName} ${className});

    List<${ClassName}> queryAll();

    ${ClassName} queryOne(String ${setColumnPriKeyMapper});

    int insert(${ClassName} ${className});

    int update(${ClassName} ${className});

    int delete(String ${setColumnPriKeyMapper});

}
