package ${packageName}.entity;

import io.swagger.annotations.ApiModelProperty;
import lombok.Data;

import java.util.Date;

@Data
public class ${ClassName} {

#foreach ($item in $tableColumnAll)
#if($item.columnComment != "")
    @ApiModelProperty(value = ${item.columnComment})
#end
    private String $item.javaColumnName;

#end
}